{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="content">
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="border-bottom">Dodaj materiały do wirtualnej biblioteki Szkoły</h3>
                {{ form|crispy }}
                <br>
                <br>
                <br>
                <br>
                <br>
            </fieldset>
            <div class="form-group">
                <button class="site-btn" type="submit">Załaduj plik(i)</button>
            </div>
        </form>
    </div>
{% endblock content %}