{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">
   {% if title %}
       <title>E-duka - {{ title }}</title>
   {% else %}
       <title>E-duka</title>
   {% endif %}
</head>

<body>
    <header class="site-header">
         <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
                <a class="navbar-brand mr-4" href={% url 'core-home' %}>E-duka</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href={% url 'core-about' %}>O nas</a>
                        {% if user.is_authenticated and user.is_student%}
                            <a class="nav-item nav-link" href="#">Strefa studenta</a>
                        {% endif %}
                        {% if user.is_authenticated and user.is_teacher%}
                            <a class="nav-item nav-link" href="#">Strefa nauczyciela</a>
                        {% endif %}
                        {% if user.is_authenticated and user.is_admin%}
                            <a class="nav-item nav-link" href="#">Strefa administratora</a>
                            <a class="nav-item nav-link" href={% url 'library-upload'%}>Upload</a>
                        {% endif %}
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href={% url 'users-logout' %}>Wyloguj</a>
                            <a class="nav-item nav-link" href={% url 'users-profile' %}>Moje konto</a>

                        {% else %}
                            <a class="nav-item nav-link" href={% url 'users-login' %}>Zaloguj</a>
                            <a class="nav-item nav-link" href={% url 'users-reg-stu' %}>Zarejestruj</a>
                        {% endif %}
                    </div>
                </div>
           </div>
          </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class = "alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

      </div>
    </main>
</body>
</html>