{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">
   {% if title %}
       <title>E-dukacja - {{ title }}</title>
   {% else %}
       <title>E-dukacja</title>
   {% endif %}
</head>

<body>
  <main>
  <header id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1>

                <a href={% url 'core-home' %}>E-dukacja</a>

            </h1>
          <h2>Platforma wspomagająca uczniów i nauczycieli</h2>
        </div>
     </div>
     <div id="menubar">
        <ul id="menu-left">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
         <li class="selected"><a href={% url 'core-about' %}>O nas</a></li>
         {% if user.is_authenticated and user.is_student%}
            <li class="selected"><a href="#">Strefa studenta</a></li>
         {% endif %}
          {% if user.is_authenticated and user.is_teacher%}
            <li class="selected"><a href={% url 'teacher-dashboard' %}>Strefa nauczyciela</a></li>
          {% endif %}
          {% if user.is_authenticated and user.is_admin%}
            <li class="selected"><a href="#">Strefa administratora</a></li>
          {% endif %}
           {% if user.is_authenticated and user.is_admin%}
            <li class="selected"><a href={% url 'library-upload' %}>ładowanie plików</a></li>
            {% endif %}
        </ul>
        <ul id="menu-right">
            {% if user.is_authenticated %}
                <li><a href={% url 'users-logout' %}>Wyloguj</a></li>
                <li><a href={% url 'users-profile' %}>Mój profil</a></li>
            {% else %}
                <li><a href={% url 'users-login' %}>Zaloguj</a></li>
                <li><a href={% url 'users-reg-stu' %}>Zarejestruj</a></li>
            {% endif %}
        </ul>
     </div>
   </header>
      <div id="site_content">

            {% if messages %}
                {% for message in messages %}
                    <div class = "alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
      </div>

    <div id="content_footer"></div>
    <div id="footer">
      <p><a href={% url 'core-home' %}>Strona główna</a> | <a href={% url 'core-about' %}>O nas</a> | <a href=#>Kontakt</a></p>
      <p>Copyright &copy; PrzePaWerJo</p>
    </div>
  </main>
</body>
</html>
