{% extends "core/base.html" %}
{% block content %}
    <div id="site_content">
    <h1> Strona Główna</h1>
<div id="content_header"></div>

<!--      <div id="sidebar_container">-->
<!--          <div class="sidebar_top"></div>-->
        <!-- insert the page content here -->
        <h1>Witamy na platformie wspomagającej uczniów i nauczycieli szkoły E-dukacja!</h1>
        <p>Nasza platforma ma na celu blablabla</p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
{% endblock %}
