{% extends "core/base.html" %}
{% block content %}
    <div id="site_content">
        <div class="center">
        <h1>Witamy na platformie wspomagającej uczniów i nauczycieli szkoły E-dukacja!</h1>
        <h6>Nasza platforma stanowi wirtualną przestrzeń wspólną dla nauczycieli i kursantów.</h6>
        <h6>Daje możliwość składowania i dzielenia się materiałami pomocniczymi w postaci plików pdf, doc i jpg pomiędzy nauczycielami i uczniami.</h6>
        <h6>Zapewnia łatwą nawigacje do linka będącego łącznikiem do pokoju on-line, w którym odbywają się zajęcia</h6>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
{% endblock %}