{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="content">
    <form method="post" id="form_settings">
        {% csrf_token %}
        <fieldset class="form-group">
            <h3 class="border-bottom">Prześlij link do spotkania wybranej grupie</h3>
         </fieldset>
         <div class="form-group">
           {{ form|crispy }}
             <br>
             <br>
             <br>
        <button class="site-btn" type="submit">Prześlij linka grupie</button>
        </div>
    </form>
</div>
<br>
{% endblock content %}