{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="border-bottom mb4">Dołącz do naszego zespołu nauczycieli</h3>
                <div>
                    <div class="text-muted">
                        A może jesteś uczniem? <a class="ml-2" href={% url 'users-reg-stu' %}>Zarejestruj się jako uczeń</a>
                    </div>
                </div>
                <br>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zarejestruj</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <div class="text-muted">
                Masz konto? <a class="ml-2" href={% url 'users-login' %}>Zaloguj się</a>
            </div>
        </div>
    </div>
<br>
{% endblock %}
