body
{ font: normal 100% 'century gothic', arial, sans-serif;
  background: #F5F5EE;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  font-size: 16px;
}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #009FBC;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: none;
  color: #AEB002;}

a:hover /* texts within the menu buttons after pointing at them */
{ text-decoration: underline;
    color: #228B22;
}

blockquote
{ margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: auto;}

.right
{ float: right;
  width: auto;
  margin-left: auto;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer, #header
{ margin-left: auto;
  margin-right: auto; /* ustawienie formatu wzgledem strony */
  width: 1000px;
  }

#header
{ background: #9ACD32;
  height: 180px;
  border-radius: 8px;
}

#logo
{ width: 800px;
  position: relative;
  height: 120px;
  background: transparent;
  margin-left: 41px;
}

#logo #logo_text
{ position: absolute;
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 200% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  color: #FFF; /* font of main E-dukacja logo */
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FFF;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #FFF;} /* font color of what's under E-dukacja logo */

#menubar
{ width: 950px;
  height: 46px;
  margin-left: 0;
  margin-right: 0;}

ul#menu
{ float: center;
  margin: 0;}

ul#menu li
{ float: left;
  list-style: none;
  background: #5A5A5A no-repeat 0 0;}

ul#menu li a
{ font: normal 300% 'century gothic', arial, sans-serif;
  display: block;
  float: left;
  height: 20px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  background: #5A5A5A no-repeat 100% 0;}

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background: #00C6F0 no-repeat 0 0;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #00C6F0 no-repeat 100% 0;
  color: #FFF;}

ul#menu li a:hover
{ color: #5A5A5A;}


ul#menu-right
{ float: right;
  margin: 0;
  font-size: 16px;
  border-radius: 5px;
}

ul#menu-left
{ float: left;
  margin: 0;
  font-size: 16px;
  border-radius: 5px;
}

ul#menu-left li, ul#menu-right li
{ float: left;
  padding: 10px 16px;
  list-style: none;
  margin: 0px 5px 0 0;
  background: #FFF no-repeat 0 0; /* background to menu buttons */
  border-radius: 5px;
}

#site_content
{ width: 1000px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 0 0;}

#sidebar_container
{ float: right;
  width: 300px;}

.sidebar_top
{ width: 300px;
  height: 14px;
  background: transparent no-repeat;}

.sidebar_base
{ width: 300px;
  height: 14px;
  background: no-repeat;}

.sidebar
{ float: right;
  width: 300px;
  padding: 0;
  margin-right: 20px;
 }

.sidebar_item
{ font: normal 100% 'century gothic', arial, sans-serif;
  background: repeat-y;
  font-size: 16px;
  padding: 0 5px;
  width: 300px;}

.sidebar li a.selected
{ font: normal 300% 'century gothic', arial, sans-serif;
  color: #444;

}

.sidebar ul
{ margin: 0;}

#content
{ text-align: left;
  width: 500px;
  padding: 0px 0 0 0;
  margin-left: 20px;
  float: left;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: no-repeat;
  margin: 0 0 0 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'century gothic', arial, sans-serif;
  font-size: 100%;
  height: 80px;
  width: 1000px;
  padding: 10px 0 5px 0;
  text-align: center;
  background: #9ACD32 repeat-x;
  color: #9ACD32;
  border-radius: 5px;
}

#footer p
{color: #FFF; /* color of the footer texts under the panel */
  padding: 0 0 0 0;
  font-size: 18px;
  }

#footer a
{ color: #FFF; /* color of the footer texts in the panel */
  text-decoration: none;}

#footer a:hover
{ color: #B0C4DE;
  text-decoration: none;}

.search
{ color: #5D5D5D;
  border: 1px solid #BBB;
  width: 190px;
  padding: 4px;
  font: 100% arial, sans-serif;}

/*
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left;
  width: 200px;
  text-align: left;}

.form_settings input, .form_settings textarea
{ padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}

.form_settings .submit
{ font: 100% arial;
  border: 0;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #3B3B3B;
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial;
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
*/
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}

table tr td
{ background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;}

/* Style The Dropdown Button */
.dropbtn, .site-btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn, .site-btn: hover  {
  background-color: #3e8e41;
}