{% extends "core/base.html" %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">

            <h2 class="article-title">{{ object.name }}</h2>
            <p class="article-content">Przedmiot: {{ object.subject }}</p>
            <p class="article-content">Poziom: {{ object.level }}</p>
            <p class="article-content">Zoom: {{ object.zoom_link }}</p>
            <p class="article-content">Prowadzący: {{ object.teacher }}</p>

        </div>

    </article>

{% endblock %}
